:root {
  --black: #07060B;
  --red: #D13130;
  --button-cta: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
}


@font-face {
  font-family: 'Russo One';
  src: url('/public/fonts/RussoOneRegular.woff') format('truetype');
}

@font-face {
  font-family: 'Muller';
  src: url('/public/fonts/MullerRegular.woff2') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('/public/fonts/MullerBold.woff2') format('truetype');
  font-weight: 700;
}


body,
a,
button {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One';
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section__title {
  font-family: 'Russo One', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
}

.circle__author-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}

.circle__author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}