.auction {
  padding: 90px 0;
}

.auction__inner {}

.auction__header {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 32px;
}

.live-marker {
  display: flex;
  align-content: center;
  column-gap: 7px;
  padding: 8px 15px 6px;
  border-radius: 40px;
  border: 2px solid var(--red);
  color: var(--red);
  font-size: 16px;
  margin-bottom: -6px;
}

.live-marker span {
  display: flex;
  align-items: center;
  font-size: 25px;
  line-height: 0;
  margin-bottom: -3px;
}

.auction__main {
  display: flex;
  column-gap: 32px;
}

.auction__image {
  width: 460px;
  height: 460px;
}

.auction__info {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.auction__author {
  max-width: 228px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 11px 16px;
  font-size: 20px;
  line-height: normal;
  border-radius: 23px;
  background: var(--grey-light, #EDEDF2);
}



.auction__info-title {
  font-size: 48px;
  font-weight: 400;
}

.auction__bet {
  display: grid;
  grid-template-columns: 296px 460px;
  grid-template-rows: 174px 70px;
  gap: 32px;
  font-size: 20px;
}

.bet__price {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 40px;
  background: #EDEDF2;
}

.price-cripto {
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 6px;

}

.price-usd {
  font-size: 20px;
  color: #95959D;
}

.bet__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #46F4DB;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
}


.bet__countdown,
.label,
.time {
  color: white;
  font-size: 20px;
}

.bet__countdown{
  display: grid;
  grid-template-columns: 231px 102px;
  grid-template-rows: 20px 74px;
  grid-column-gap: 44px;
  grid-row-gap: 16px;
  padding: 32px;
  border-radius: 40px;
  background-color: var(--black);
}
.bet__countdown-title{
  grid-area: 1 / 1 / 2 / 2;
}

.bet__countdown-content {
  grid-area: 2 / 1 / 3 / 2;
}

.bet__countdown-image {
  max-width: 121px;
  max-height: 121px;
  margin-top: -5px;
  grid-area: 1 / 2 / 3 / 3;
}

.time {
  font-size: 48px;
}



.auction__list {}

.section__subtitle {}