.card {
  width: 296px;
  height: 342px;
  border-radius: 50px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEDF2;
}

.card__info {
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 16px;
  row-gap: 12px;
}

.card__author {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.author__avatar {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
}

.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__name {
  font-size: 16px;
}

.card__name {
  font-size: 20px;
}

.card__price {
  color: #46F4DB;
  font-size: 20px;
}

.card__count {
  color: #95959D;
  font-size: 16px;
}