.author-application {
  padding: 97px 0 90px 0;
}

.author-application__inner {
  display: flex;
  gap: 32px;
}

.author-application__subtitle {
  font-size: 20px;
  font-family: 'Russo One';
  margin: 16px 0 16px 0;
}

.author-application__description{
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 1.5;
}

.author-application__content {
  flex: 1;
}

.author-application__form {
  flex: 1;
}

.author-application__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.author-application__upload {
  width: 100%;
  height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EDEDF2;
  border-radius: 50px;
  cursor: pointer;
}
.author-application__upload input{
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.author-application__upload-text {
  font-size: 20px;
  color: #95959D;
  font-weight: 400;
}
.author-application__upload-button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 16px;
}

.author-application__telegram {
  width: 100%;
  height: 70px;
  background-color: #EDEDF2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 20px;
  padding: 0 32px 0 32px;
}