.countdown {
  display: flex;
}

.countdown-item {
  width: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin-right: 26px;
}

.label {
  font-size: 20px;
}

.time {
  font-size: 48px;
}

.countdown-item__card {
  flex-direction: row;
  justify-content: space-around;
  column-gap: 0;
  margin-right: 0;
}

.countdown-item__card div {
  font-size: 16px;
  color: #95959D;
}